.movie-item {
  flex-basis: 22%;
  box-sizing: border-box;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  list-style: none;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.movie-item:hover {
  transform: translateY(-7px);
}

.movie-item img {
  width: 100%;
}

.movie-item {
	flex-basis: 22%;
	display: flex;
	flex-direction: column;
	list-style: none;
	box-sizing: border-box;
	margin: 1.5%;
	border: 1px solid #f5f5f5;
	box-shadow: 0 10px 28px -7px rgba(0,0,0,0.1);
}

.movie-item img {
	width: 100%;
}

.movie-description {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	padding: 10px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.movie-description h2 {
	color: #555;
	font-weight: bold;
	margin-bottom: 20px;
}

.movie-details {
	display: flex;
	justify-content: space-between;
}

.movie-details span {
	color: #555;
	font-size: 0.8rem;
	font-weight: bold;
}

.movie-year, .movie-rating {
	display: flex;
	flex-direction: column;
}

.movie-year .title, .movie-rating .title {
	color: #aaa;
	margin-bottom: 5px;
	font-size: 0.65rem;
	font-weight: normal;
}

.movie-rating {
	align-items: flex-end;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
  text-decoration: none;
}
